
body {
  background-color: #A1C2BD ;
}
.App {
  background-color: white;
  min-height: 100vh;
  width: 400px;
  margin: 20px auto;
  padding: 20px ;
}
.wrapper {
  display: flex;
  justify-content: center;
}
ul, li {
  list-style-type: none;
  padding: 5px 0;
  margin: 0;
}
.Crossed {
  text-decoration: line-through 1.6px #ff6155;
  background-color: #ffded3;
}
h1 {
  color: #243642;
}
input {
  flex: 1;
  padding: 6px;
  border: none;
  background-color: #E2F1E7;
}
.btn {
  flex: 1;
  padding: 8px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 15px;
}
.add {
  background-color: #A1C2BD;
  margin-top: 5px;
}
.delete {
  background-color: #ff6155;
}
